*{box-sizing:border-box}

a{text-decoration:none;color:inherit}
h2{font-family:Montserrat;text-align:center;font-size:3vh}
h3{font-family:Montserrat;text-align:center;font-size:2vh}
p{font-family:Montserrat;text-align:justify;font-size:2vh;padding:5px}
.textoPlanta{font-family:Montserrat;text-align:justify;font-size:2vh;padding:2px}
.textoMenu{font-family:Montserrat;color:#ffdfa6;text-align:center;font-size:1.5vw;line-height:1vw;display:flex;justify-content:center;flex-direction:column}
.container{background-image: url("/imagenes.fitoterapia/background2.jpg");background-size: cover;display:grid;width:100%;height:100vh;grid-template-areas:"margenIzq header header header header margenDer" "margenIzq inicio fotoPlanta plantaDos textoplantaDos margenDer" "margenIzq fitoterapia fotoPlanta textoPlanta textoPlanta margenDer" "margenIzq logo fotoPlanta textoPlanta textoPlanta margenDer" "margenIzq logo fotoPlanta textoPlanta textoPlanta margenDer" "margenIzq servicios fotoPlanta textoPlanta textoPlanta margenDer" "margenIzq domicilios fotoPlanta plantaTres textoPlantaTres margenDer" "margenIzq footer footer footer footer margenDer";grid-template-columns:0fr .5fr 1fr .25fr .75fr 0fr;grid-template-rows:0fr 0.25fr 0,5fr 0.5fr 0.5fr 0.5fr 0.25fr 0fr;
margin-top: 20px; margin-bottom: 20px;border-radius: 5px}
.container>div{border:none}
.alert{background-color:#fff4e1af;padding:1.5vw;margin-top:10%;margin-left:5%;margin-right:5%;border-radius:5px}
.margenIzq{grid-area:margenIzq}
.header{grid-area:header}
.margenDer{grid-area:margenDer}
.inicio{grid-area:inicio}
.fotoPlanta{grid-area:fotoPlanta;margin-left:-300px;margin-right:200px}
.plantaUno{grid-area:plantaDos}
.plantaDos img{display:block;border:solid #ffdfa6 1px;margin:auto;height:auto;width:auto;max-width:100%;max-height:100%;}
.textoplantaDos{grid-area:textoplantaDos;}
.fitoterapia{grid-area:fitoterapia}
.textoPlanta{grid-area:textoPlanta}
.logo{grid-area:logo}
.logo img{display:block;margin:auto;height:auto;width:auto;max-width:100%;max-height:100%}
.servicios{grid-area:servicios}
.domicilios{grid-area:domicilios}
.plantaTres{grid-area:plantaTres}
.plantaTres img{display:block;border:solid #ffdfa6 1px;margin:auto;height:auto;width:auto;max-width:100%;max-height:100%;}
.textoPlantaTres{grid-area:textoPlantaTres;}
.footer{grid-area:footer;font-family:Montserrat;color:#ffdfa6;text-align:center;font-size:1vw;line-height:1vw;display:flex;justify-content:center;flex-direction:column}
form.busqueda input[type=text]{margin:auto;max-width:200px;padding:5px;font-size:17px;color:#ffdfa6;border:1px solid #0c0600;float:right;width:80%;background:#0c0600}
form.busqueda button{float:right;width:5%;padding:5px;background:#0c0600;color:#ffdfa6;font-size:17px;border:1px solid #ffdfa6;cursor:pointer}
form.busqueda button:hover{background:#684c0f}
form.busqueda::after{content:"";clear:both;display:table}
.rslides{position:relative;list-style:none;overflow:hidden;width:100%;height:100%;padding:0}
.rslides li{-webkit-backface-visibility:hidden;position:absolute;display:none;margin-top:-25px;height:100%;width:100%;left:0;top:0}
.rslides li:first-child{position:relative;display:block;float:left}
.rslides img{display:block;height:100%;float:left;width:100%;border:0}

.carousel{
    background: #fffcf9;
    margin-top: 20px;

}
.carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */

}
.bs-example{
    margin-left: 100px;
    margin-right: -150px;

}