
<div class="card mb-3" style="padding: 5%; border: none; background-color: #fff4e131; font-family: Arial, Helvetica, sans-serif;" >
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-text">
                    <dl>
                        <dt>Bogota</dt>
                            <dd>Chico: Av. Carrera 19 # 119 - 25/45.</dd>
                            <dd>Lun ~ Vie : 7:00 am ~ 5:00 pm y Sab : 8:00 am ~ 12:00 m.</dd>

                            <dd>Teusaquillo: Av. Parkway # 39 - 12.</dd>
                            <dd>Lun ~ Vie : 7:00 am ~ 5:00 pm y Sab : 8:00 am ~ 12:00 m.</dd>

                            <dd>La Candelaria: Carrera 4' # 4 - 11.</dd>
                            <dd>Lun ~ Vie : 7:00 am ~ 5:00 pm y Sab : 8:00 am ~ 12:00 m.</dd>
                        <br>                        
                        <dt>Medellin</dt>
                            <dd>Laureles: Carrera 10' # 12 - 18.</dd>
                            <dd>Lun ~ Vie : 7:00 am ~ 5:00 pm y Sab : 8:00 am ~ 12:00 m.</dd>
                        <br> 
                        <dt>Cali</dt>
                            <dd>Versalles: Carrera 81 # 50 - 35.</dd>
                            <dd>Lun ~ Vie : 7:00 am ~ 5:00 pm y Sab : 8:00 am ~ 12:00 m.</dd>
                        <br> 
                        <dt>Cartagena</dt>
                            <dd>La Riviera: Carrera 4' # 12 - 26.</dd>
                            <dd>Lun ~ Vie : 7:00 am ~ 5:00 pm y Sab : 8:00 am ~ 12:00 m.</dd>
                    </dl>
                </p>
                        <br> 
                <ul>
                    <dt>Nuestras oficinas estan habilitadas para que usted pueda:</dt>
                        <li>Inscripciones</li>
                        <li>Transcripciones</li>
                        <li>Autorizaciones</li>
                        <li>Novedades</li>
                        <li>Servicio al cliente</li>
                        <li>Otros</li>
                </ul>

                <p class="card-text">
                    Para mayor informacion, por favor comunicarse a nuestra linea de atencion nacional 018000 555 555 o en Bogota al 555 5555.
                </p>
            </div>
        </div>
        <div class="col-md-4" style="text-align: center; margin-top: 20%;">
            <div class="col-sm-12 neps" style="font-family: 'tarponmotelregular', sans-serif; margin-bottom: 15%;">
                <h1 class="card-title">Oficinas de atención al usuario</h1>
            </div>

            <div class="col-sm-12 neps1" style="flex-flow: wrap">
                <img src="/media/atencion_user.png" class="card-img" alt="...">
            </div>
        </div>
    </div>
</div>
