<style>

    .card {
        border: none;
        background-color: #fff4e131;
     
        
    }

    .card-img-top{
        height: 125px;
        width: 125px;
        align-self: center;
    }
    .card-group{
        margin-top: 5%;
    }
</style>



<div class="card-group">
    <div class="card">
        <img src="/media/legiseps-01.png" class="card-img-top p-4" alt="Informacion">
        <div class="card-body">
            <h5 class="card-title">Carta de Derechos y Deberes</h5>
            <p class="card-text">A continuación, encontrará la Carta de Derechos y Deberes del afiliado y del usuario en donde se registra toda la...</p>
            <button class="btn btn-primary btn-sm">Leer Mas</button>
        </div>
    </div>
    <div class="card">
        <img src="/media/legiseps-02.png" class="card-img-top p-4" alt="Informacion">
        <div class="card-body">
            <h5 class="card-title">Cuota moderadora y Copago</h5>
            <p class="card-text">Cuota moderadora El Ministerio del Trabajo por medio del Decreto 2552 del 30 de diciembre de 2015 fijo como salario Mínimo legal Mensual....</p>
            <button class="btn btn-primary btn-sm">Leer Mas</button>
        </div>
    </div>
    <div class="card">
        <img src="/media/legiseps-03.png" class="card-img-top p-4" alt="Informacion">
        <div class="card-body">
            <h5 class="card-title">Participación ciudadana</h5>
            <p class="card-text">Para VIKIRIA EPS es muy importante la voz del usuario, por esto ha implementado un canal para conocer la... </p>
            <button class="btn btn-primary btn-sm">Leer Mas</button>
        </div>
    </div>
    <div class="card">
        <img src="/media/legiseps-04.png" class="card-img-top p-4" alt="Informacion">
        <div class="card-body">
            <h5 class="card-title">Rendición de cuentas</h5>
            <p class="card-text">Espacio de participación y control social que se llevará a cabo el próximo jueves 07 de junio de 2018 en el Centro de Convenciones Cafam Floresta...</p>
            <button class="btn btn-primary btn-sm">Leer Mas</button>
        </div>
    </div>
</div>

<div class="card-group">
    <div class="card">
        <img src="/media/legiseps-05.png" class="card-img-top p-4" alt="Informacion">
        <div class="card-body">
            <h5 class="card-title">Resolución 1552</h5>
            <p class="card-text">Aquí encontrarás los tiempos de espera para servicios de medicina especilizada según artículo 4 resolución 1552, haga clic en el...</p>
            <button class="btn btn-primary btn-sm">Leer Mas</button>
        </div>
    </div>
    <div class="card">
        <img src="/media/legiseps-06.png" class="card-img-top p-4" alt="Informacion">
        <div class="card-body">
            <h5 class="card-title">Medio de Transferencia de datos</h5>
            <p class="card-text">Resolución 4505 del 28 de diciembre de 2012. El Ministerio de Salud y Protección Social a través de...</p>
            <button class="btn btn-primary btn-sm">Leer Mas</button>
        </div>
    </div>
    <div class="card">
        <img src="/media/legiseps-07.png" class="card-img-top p-4" alt="Informacion">
        <div class="card-body">
            <h5 class="card-title">Portabilidad y movilidad entre regímenes</h5>
            <p class="card-text">Es la garantía de la accesibilidad a los servicios de salud, en cualquier municipio del territorio nacional, para todo...</p>
            <button class="btn btn-primary btn-sm">Leer Mas</button>
        </div>
    </div>
    <div class="card">
        <img src="/media/legiseps-08.png" class="card-img-top p-4" alt="Informacion">
        <div class="card-body">
            <h5 class="card-title">Ley anti trámite</h5>
            <p class="card-text">Ley anti trámite (Aspectos relevantes en materia de salud)...</p>
            <button class="btn btn-primary btn-sm">Leer Mas</button>
        </div>
    </div>
</div>
