<style>

    
    .card-img{
        height: 200px;
        width: 200px;
    }

   
</style>
<div class="card mb-3" style="padding: 5%; border: none; background-color: #fff4e131; ">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-text">
                    <dl>
                        <dt>Historia</dt>
                            <dd>Cruz Blanca EPS, es una persona jurídica de derecho privado, constituida como sociedad anónima, especializada en la afiliación y el registro de los afiliados al Sistema de Seguridad Social en Salud de Colombia, y del recaudo de las cotizaciones.</dd>
                        
                        <dt>Misión</dt>
                            <dd>Asegurar la salud de las personas bajo un enfoque integral y preventivo, promoviendo bienestar, hábitos saludables y una positiva autopercepción de la salud, con base en criterios de racionalidad científica y sostenibilidad financiera.</dd>
                        
                        <dt>Visión</dt>
                            <dd>En el 2025 ser una organización ejemplar en el sistema de salud, rompiendo paradigmas y superando barreras para alcanzar un modelo de aseguramiento basado en gestión del riesgo, innovador, efectivo y proactivo, que promueva la satisfacción del cliente interno y externo, fortalezca el buen nombre de la organización y le agregue valor consolidando su posición en el aseguramiento en salud de los habitantes de la nación.</dd>

                        <dt>Promesa de Valor</dt>
                            <dd>Contribuir al restablecimiento, mantenimiento y mejoramiento de la salud de los afiliados en el territorio nacional, mediante estrategias novedosas que conduzcan a la optimización de los recursos humanos, tecnológicos y financieros del sistema, garantizando los mejores resultados posibles en un ambiente de sostenibilidad universal.</dd>
                    </dl>
                </p>
                <ul>
                    <dt>Valores</dt>
                        <li>Servicio</li>
                        <li>Ética</li>
                        <li>Transparencia</li>
                        <li>Honestidad</li>
                        <li>Respeto</li>
                        <li>Empatía</li>
                </ul>

                
            </div>
        </div>
        <div class="col-md-4" style="text-align: center; margin-top: 20%;">
            <div class="col-sm-12 neps">
                <h1 class="card-title">Nuestra Eps</h1>
            </div>

            <div class="col-sm-12 neps1" >
                <img src="/media/logo-2.png" class="card-img" alt="...">
            </div>
        </div>
    </div>
</div>
