<style>
    .card {
        border: none;
        background-color: #fff4e131;
        width: 100%;
        height: 100%;
        display: flex;

        
    }

 

    .img_news{
        width: 150px;
        height: 150px;
        align-self: center;
    }
</style>
<div class="card-group" style="padding: 5%; border: none; background-color: #fff4e131;">
    <div class="card">
        <img src="/media/actualidad.png" class="card-img-top p-4 img_news" alt="Informacion">
        <div class="card-body">
            <h5 class="card-title">Actualidad</h5>
            <p class="card-text">Encuentra aqui toda la informacion de actualidad que pueda dser de tu interes. <a href="">Leer...</a></p>

        </div>
    </div>
    <div class="card">
        <img src="/media/comunicados.png" class="card-img-top p-4 img_news" alt="Cominicados">
        <div class="card-body">
            <h5 class="card-title">Comunicados</h5>
            <p class="card-text">Estas interesado en conocer los comunicados que hemos publicado?. <a href="">Leer...</a></p></p>

        </div>
    </div>
    <div class="card">
        <img src="/media/multimedia.png" class="card-img-top p-4 img_news" alt="Multimedia">
        <div class="card-body">
            <h5 class="card-title">Multimedia</h5>
            <p class="card-text">Algunos videos que te ayudaran a entender algunas de tus inquietudes. <a href="">Leer...</a></p></p>

        </div>
    </div>
    <div class="card">
            <img src="/media/periodico2.png" alt="" >
    </div>
</div>