<style>

     .card-img{
        height: 200px;
        width: 220px;
    }

</style>
<div class="card mb-3" style="padding: 5%; border: none; background-color: #fff4e131; ">
    <div class="row no-gutters">
        <div class="col-md-4" style="text-align: center;">
            <div class="col-sm-12 neps">
                <h1 class="card-title">Promoción y Prevención</h1>
            </div>

            <div class="col-sm-12 neps1" style="flex-flow: wrap">
                <img src="/media/logo-2.png" class="card-img" alt="...">
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-text" style="text-align: justify;">
                    VIKIRIA EPS se preocupa por mantener un nivel óptimo de la salud y de bienestar de nuestros afiliados,
                     utiliza diferentes medios que proporcionan al usuario herramientas para su autocuidado el control 
                     de los factores de riesgo y los cambios de conductas favorables para mantener adecuadas condiciones 
                     de salud a través de la promoción de actividades de protección específica y detección temprana 
                     dirigidas a los afiliados en los diferentes momentos de vida: niños, jóvenes y adolescentes, adultos 
                     y adultos mayores en cumplimiento a lo definido por las normas técnicas vigentes adoptadas por el 
                     Ministerio de Salud y Protección Social y articulando lo dispuesto en la Política de Atención 
                     Integral en Salud (PAIS), Modelo de Atención Integral en Salud (MIAS) y la Regulación Integral 
                     de Rutas de Atención en Salud (RIAS). Se puede acceder sin costo alguno, en su IPS Primaria asignada.
                </p>
                <p>
                    Los programas de promoción y prevención son gratuitos, requieren el compromiso de todos los afiliados 
                    para lograr una participación activa y permitirnos realizar actividades para cuidar su salud y prevenir 
                    la aparición de las enfermedades evitables.
                </p>

               
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="padding: 5%; border: none; background-color: #fff4e131;">
    <div class="row no-gutters">
        <div class="col-md-3">
            <div class="col-sm-10 neps1" style="flex-flow: wrap">
                <img src="/media/vacunas.png" class="card-img" alt="...">
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-text">
                    <h1>Programa de Vacunación</h1>
                </p>
                <p>
                    <h4>Este programa va dirigido a niños menores de 10 años, mujeres en edad fertil y adultos mayores </h4>
                </p>

               
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-sm-10 neps1" style="flex-flow: wrap">
                <img src="/media/cancer.png" class="card-img" alt="...">
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-text">
                    <h1>Programa de Detección temprana de Cancer</h1>
                </p>
                <p>
                    <h4>Este programa va dirigido a personas entre los adultos entre 25 y 65 años</h4>
                </p>

              
            </div>
        </div>


    </div>
</div>