<link rel="stylesheet" href="/css/estilos.css">


<div id="div_slider">

  <video autoplay loop muted   width="100%" height="100%" preload="auto">
       
        <source src="/video/video_pub.mp4" type="video/mp4"   >
        I'm sorry; your browser doesn't support HTML5 video.
        <!-- You can embed a Flash player here, to play your mp4 video in older browsers -->
      </video>
</div>

<div class="div_info">

    <div id="info1" class="colum"><a href="/nuestraeps">Nuestra EPS<img src="/media/nuestra_eps-icon.png" alt=""></a> </div>
    <div id="info2" class="colum">
        <div class="div_link"><a href="/informate">Informate<img src="/media/periodico.png" alt=""></a></div>
        <div class="div_link"><a class="title-long" href="/promyprev">Promoción y Prevención<img src="/media/cerebro.png" alt=""></a></div>
        <div class="div_link"><a class="title-long" href="/users/signin">Afiliación y Tramites<img src="/media/lista.png" alt=""></a></div>
        <div class="div_link"><a href="/legislacion">Legislación<img src="/media/laws.png" alt=""></a></div>
    </div>
    

    <div id="info4" class="colum">
        <div class="div_link3"><a href="https://www.cruzblanca.com.co/images/descargas/Modelo-de-atencion-Cruz-Blanca.pdf" target="_blank"><img class="icon-call" src="/media/usuario.png" alt="">Modelo de atención</a>
        </div>
        <div class="div_link2">Contenido de interés</div>
        <div class="div_link2">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/NmrGRN1YNOw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div id="info3" class="colum"><iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.850266479022!2d-74.06585658585396!3d4.620789396643211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99f7fa84fe3b%3A0x4a37c6adedc1d243!2sBICTIA!5e0!3m2!1ses!2sco!4v1562896452255!5m2!1ses!2sco"
            width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe></div>
</div>