 <footer id="footer">


     <div id="div_enlaces">
         <h4><img src="/media/link-icon.png" alt="">&nbsp;&nbsp;Enlaces de interés</h4>
        <a href="https://www.minsalud.gov.co/Paginas/default.aspx" target="_blank"><img class="img_footer" src="/media/logo-minsalud1.png" alt=""></a>
        
        <a href="https://www.acemi.org.co/" target="_blank"><img class="img_footer" src="/media/logo-acemi1.png" alt=""></a> 
         
        <a href="https://www.supersalud.gov.co/es-co" target="_blank"><img class="img_footer" src="/media/logo-vig-supersalud.png" alt=""></a> 
     </div>


     <div id="div_contacto">
         <img src="/media/contact-icon.png" alt="">&nbsp;&nbsp;<h4>Contáctanos</h4>
         <p class="info_contacto">
                Línea de atención nacional 018000 113337 <br>
                Línea de atención en Bogotá 644 6100 <br>

                www.vikiria.com <br>
               <a href="/atencion">Oficinas de Atención al Usuario</a> 
         </p>
     </div>


     <div id="div_derechos">

         <img src="/media/copy-icon.png" alt="">&nbsp;&nbsp;<h4>Derechos reservados</h4> 

         <p class="info_contacto">
             Vikiria EPS 2019 <br>

             Diseñado por MindChip S.A 

             <a href="http://localhost:3000/" target="_blank">www.mindchip.com</a> 
         </p>


        
     </div>



 </footer>